.idea/
.venv/
venv/
__pycache__/
*.pyc
*.pth
*.zip
*.png
*.csv

dataset/
dataset_medium/
stanford_cars/
automerk_ai/dataset_small/

literatuurstudie_*.txt
Eindwerk Eigen documentatie.docx

thesis_visuals/
figures_academisch/

.DS_Store